 <div id="about-us">
      <h2>About us</h2>
      <div class="about-us-icon-wrapper">
        <div class="wrapp">
          <div class="icon">
            <img src="/images/space.png" alt="space">
          </div>
          <div class="desc">
            <p class="scroll">A lot of space! Over 70.000 square feet!</p>
          </div>
        </div>
        <div class="wrapp">
          <div class="icon">
            <img src="/images/icons/aboutUs/people.png" alt="people">
          </div>
          <div class="desc">
            <p class="scroll">You will never find better community!</p>
          </div>
        </div>
        <div class="wrapp">
          <div class="icon">
            <img src="/images/icons/aboutUs/kettlebell.png" alt="kettlebell">
          </div>
          <div class="desc">
            <p class="scroll">The best equipment on the market!</p>
          </div>
        </div>
        <div class="wrapp">
          <div class="icon">
            <img src="/images/icons/aboutUs/test.png" alt="app">
          </div>
          <div class="desc">
            <p class="scroll">Innovative app where you can track your progress!</p>
          </div>
        </div>
        <div class="wrapp">
          <div class="icon">
            <img src="/images/icons/aboutUs/time.png" alt="time">
          </div>
          <div class="desc">
            <p class="scroll">We're open always so you don't have excuses!</p>
          </div>
        </div>

      </div>
    </div>