<footer>
  <div class="copyright">
    <p>&#169; Copyright. All rights reserved!</p>
  </div>
  <div class="small-logo">
    <img src="/images/logo-small.png" alt="logo">
  </div>
  <div class="social-net">
    <div class="ig">
      <a href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i></a>
    </div>
    <div class="fb">
      <a href="https://www.facebook.com/"><i class="fa-brands fa-facebook-f"></i></a>
    </div>
    <div class="yt">
      <a href="https://www.youtube.com/"><i class="fa-brands fa-youtube"></i></a>
    </div>
  </div>
</footer>