
  <div class="memberships-head">
    <h2>
      Memberships
    </h2>
  </div>
  <div class="memberships-prices">
    <div class="card">
      <div class="card-img">
        <img src="images/prices/daily.jpg" alt="daily">
      </div>
      <div class="card-desc">
        <h3>Daily pass</h3>
        <div class="price-details">
          <div class="price">
            <p>Price: </p>
            <p>20&#36;</p>
          </div>
          <button class="membership-btn">Purchase</button>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-img">
        <img src="images/prices/month.jpg" alt="month">
      </div>
      <div class="card-desc">
        <h3>1 month</h3>
        <div class="price-details">
          <div class="price">
            <p>Price: </p>
            <p>60&#36;</p>
          </div>
          <button class="membership-btn">Purchase</button>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-img">
        <img src="./images/prices/month3.avif" alt="month3">
      </div>
      <div class="card-desc">
        <h3>3 months</h3>
        <div class="price-details">
          <div class="price">
            <p>Price: </p>
            <p>150&#36;</p>
          </div>
          <button class="membership-btn">Purchase</button>
        </div>
      </div>
      <span class="gold"></span>
    </div>
    <div class="card">
      <div class="card-img">
        <img src="images/prices/month6.jpg" alt="month6">
      </div>
      <div class="card-desc">
        <h3>6 months</h3>
        <div class="price-details">
          <div class="price">
            <p>Price:</p>
            <p>250&#36;</p>
          </div>
          <button  class="membership-btn">Purchase</button>
        </div>
      </div>
      <span class="platinum"></span>
    </div>
    <div class="card">
      <div class="card-img">
        <img src="images/prices/month12.jpg" alt="month12">
      </div>
      <div class="card-desc">
        <h3>12 months</h3>
        <div class="price-details">
          <div class="price">
            <p>Price:</p>
            <p>300&#36;</p>
          </div>
          <button class="membership-btn">Purchase</button>
        </div>
      </div>
      <span class="diamond"></span>
    </div>
  </div>