<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/images/flavicon-04.png" type="tablogo">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"     integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer">
  <link rel="stylesheet" href="./../public/css/chooseExercises.css" type="text/css">
  <title>Choose exercises</title>
</head>
<body>
  <div class="exercises-container">
    <nav>
      <div class="logo">
        <img src="../images/heavy-bar-logo.png" alt="logo">
      </div>
      <div class="headline">
          <h2>Choose your exercises</h2>
        </div>
      <div class="search-bar">
        <form>
          <input type="text" placeholder="search exercise">
        </form>
      </div>
   </nav>
   <main>
      <div class="muscles">
        <h3>Muscles</h3>
        <ul>
          <div>
            <li>
              biceps brachii
            </li>
            <span class="material-symbols-outlined">
              remove
            </span>
          </div>
          <div>
            <li>
              biceps brachii
            </li>
            <span class="material-symbols-outlined">
              remove
            </span>
          </div>
          <div>
            <li>
              biceps brachii
            </li>
            <span class="material-symbols-outlined">
              remove
            </span>
          </div>
          <div>
            <li>
              biceps brachii
            </li>
            <span class="material-symbols-outlined">
              remove
            </span>
          </div>
          <div>
            <li>
              biceps brachii
            </li>
            <span class="material-symbols-outlined">
              remove
            </span>
          </div>
          <div>
            <li>
              biceps brachii
            </li>
            <span class="material-symbols-outlined">
              remove
            </span>
          </div>
          <div>
            <li>
              biceps brachii
            </li>
            <span class="material-symbols-outlined">
              remove
            </span>
          </div> 
        </ul>
      </div>  
     <div class="exercises-databse">
      <div class="exercise-card">
       <div class="pic">
         <img src="https://www.verywellfit.com/thmb/plk9oJP3KcuRnBaq8bk3sGrsVjM=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/81-3498604-Bicep-arm-curlsGIF2-c7c59f252b1a4ef9b1e181ca05e96084.jpg" alt="slika-vezbe">
       </div>
       <div class="exercise-name">
         <p>Biceps pregib</p>
       </div>
     </div>
      <div class="exercise-card">
       <div class="pic">
         <img src="https://www.verywellfit.com/thmb/plk9oJP3KcuRnBaq8bk3sGrsVjM=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/81-3498604-Bicep-arm-curlsGIF2-c7c59f252b1a4ef9b1e181ca05e96084.jpg" alt="slika-vezbe">
       </div>
       <div class="exercise-name">
         <p>Biceps pregib</p>
       </div>
     </div>
        <div class="exercise-card">
       <div class="pic">
         <img src="https://www.trainheroic.com/wp-content/uploads/2023/02/AdobeStock_271990601-TH-jpg.webp" alt="slika-vezbe">
       </div>
       <div class="exercise-name">
         <p>Biceps pregib</p>
       </div>
     </div>
        <div class="exercise-card">
       <div class="pic">
         <img src="https://www.verywellfit.com/thmb/plk9oJP3KcuRnBaq8bk3sGrsVjM=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/81-3498604-Bicep-arm-curlsGIF2-c7c59f252b1a4ef9b1e181ca05e96084.jpg" alt="slika-vezbe">
       </div>
       <div class="exercise-name">
         <p>Biceps pregib</p>
       </div>
     </div>
        <div class="exercise-card">
       <div class="pic">
         <img src="https://www.verywellfit.com/thmb/plk9oJP3KcuRnBaq8bk3sGrsVjM=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/81-3498604-Bicep-arm-curlsGIF2-c7c59f252b1a4ef9b1e181ca05e96084.jpg" alt="slika-vezbe">
       </div>
       <div class="exercise-name">
         <p>Biceps pregib</p>
       </div>
     </div>
        <div class="exercise-card">
       <div class="pic">
         <img src="https://www.verywellfit.com/thmb/plk9oJP3KcuRnBaq8bk3sGrsVjM=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/81-3498604-Bicep-arm-curlsGIF2-c7c59f252b1a4ef9b1e181ca05e96084.jpg" alt="slika-vezbe">
       </div>
       <div class="exercise-name">
         <p>Biceps pregib</p>
       </div>
     </div>
        <div class="exercise-card">
       <div class="pic">
         <img src="https://www.verywellfit.com/thmb/plk9oJP3KcuRnBaq8bk3sGrsVjM=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/81-3498604-Bicep-arm-curlsGIF2-c7c59f252b1a4ef9b1e181ca05e96084.jpg" alt="slika-vezbe">
       </div>
       <div class="exercise-name">
         <p>Biceps pregib</p>
       </div>
     </div>
        <div class="exercise-card">
       <div class="pic">
         <img src="https://www.verywellfit.com/thmb/plk9oJP3KcuRnBaq8bk3sGrsVjM=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/81-3498604-Bicep-arm-curlsGIF2-c7c59f252b1a4ef9b1e181ca05e96084.jpg" alt="slika-vezbe">
       </div>
       <div class="exercise-name">
         <p>Biceps pregib</p>
       </div>
     </div>
        <div class="exercise-card">
       <div class="pic">
         <img src="https://www.verywellfit.com/thmb/plk9oJP3KcuRnBaq8bk3sGrsVjM=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/81-3498604-Bicep-arm-curlsGIF2-c7c59f252b1a4ef9b1e181ca05e96084.jpg" alt="slika-vezbe">
       </div>
       <div class="exercise-name">
         <p>Biceps pregib</p>
       </div>
     </div>
        <div class="exercise-card">
       <div class="pic">
         <img src="https://www.verywellfit.com/thmb/plk9oJP3KcuRnBaq8bk3sGrsVjM=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/81-3498604-Bicep-arm-curlsGIF2-c7c59f252b1a4ef9b1e181ca05e96084.jpg" alt="slika-vezbe">
       </div>
       <div class="exercise-name">
         <p>Biceps pregib</p>
       </div>
     </div>
        <div class="exercise-card">
       <div class="pic">
         <img src="https://www.verywellfit.com/thmb/plk9oJP3KcuRnBaq8bk3sGrsVjM=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/81-3498604-Bicep-arm-curlsGIF2-c7c59f252b1a4ef9b1e181ca05e96084.jpg" alt="slika-vezbe">
       </div>
       <div class="exercise-name">
         <p>Biceps pregib</p>
       </div>
     </div>
        <div class="exercise-card">
       <div class="pic">
         <img src="https://www.verywellfit.com/thmb/plk9oJP3KcuRnBaq8bk3sGrsVjM=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/81-3498604-Bicep-arm-curlsGIF2-c7c59f252b1a4ef9b1e181ca05e96084.jpg" alt="slika-vezbe">
       </div>
       <div class="exercise-name">
         <p>Biceps pregib</p>
       </div>
     </div>
        <div class="exercise-card">
       <div class="pic">
         <img src="https://www.verywellfit.com/thmb/plk9oJP3KcuRnBaq8bk3sGrsVjM=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/81-3498604-Bicep-arm-curlsGIF2-c7c59f252b1a4ef9b1e181ca05e96084.jpg" alt="slika-vezbe">
       </div>
       <div class="exercise-name">
         <p>Biceps pregib</p>
       </div>
     </div>
     </div>
     <div class="program">
       <!-- <span class="material-symbols-outlined delete">remove</span>
       <span class="number-exercise">1</span> -->
     </div>
     <div class="modal-exercise-back">
      <div class="modal-exercise">
        <div class="modal-header">
          <h3>Name of the exercise</h3>
          <div class="video-instruction">
            <div class="video">
              <img src="../images/about-us.jpg" alt="">
            </div>
            <div class="instruction">
              <form>
                <textarea placeholder="Input instructions"></textarea>
              </form>
            </div>
          </div>
        </div>
        <div class="adjustments">
          <div class="header-adjust">
            <p>Weight (kg)</p>
            <p>Reps</p>
            <p>Sets</p>
            <p>Rest (sec)</p>
            <button class="add-set-btn">Add set</button>
          </div>
          <form class="adjust-row">
            <div class="adjust-weight">
              <input type="text" placeholder="0" name="weight">
              <span><i class="fa-regular fa-plus"></i></span>
              <span><i class="fa-solid fa-minus"></i></span>
            </div>
            <div class="adjust-reps">
              <input type="text" placeholder="0" name="reps">
              <span><i class="fa-regular fa-plus"></i></span>
              <span><i class="fa-solid fa-minus"></i></span>
            </div>
            <div class="adjust-sets">
              <p>1</p>
            </div>
            <div class="adjust-rest">
              <input type="text" placeholder="0" name="rest">
              <span><i class="fa-regular fa-plus"></i></span>
              <span><i class="fa-solid fa-minus"></i></span>
            </div>
            <div class="add-delete-clone">
              <span><i class="fa-regular fa-plus white"></i></span>
              <span><i class="fa-solid fa-clone white"></i></span>
              <span><i class="fa-solid fa-trash white"></i></span>
            </div>
          </form>
          <form class="adjust-row">
            <div class="adjust-weight">
              <input type="text" placeholder="0" name="weight">
              <span><i class="fa-regular fa-plus"></i></span>
              <span><i class="fa-solid fa-minus"></i></span>
            </div>
            <div class="adjust-reps">
              <input type="text" placeholder="0" name="reps">
              <span><i class="fa-regular fa-plus"></i></span>
              <span><i class="fa-solid fa-minus"></i></span>
            </div>
            <div class="adjust-sets">
              <p>1</p>
            </div>
            <div class="adjust-rest">
              <input type="text" placeholder="0" name="rest">
              <span><i class="fa-regular fa-plus"></i></span>
              <span><i class="fa-solid fa-minus"></i></span>
            </div>
            <div class="add-delete-clone">
              <span><i class="fa-regular fa-plus white"></i></span>
              <span><i class="fa-solid fa-clone white"></i></span>
              <span><i class="fa-solid fa-trash white"></i></span>
            </div>
          </form>
          <form class="adjust-row">
            <div class="adjust-weight">
              <input type="text" placeholder="0" name="weight">
              <span><i class="fa-regular fa-plus"></i></span>
              <span><i class="fa-solid fa-minus"></i></span>
            </div>
            <div class="adjust-reps">
              <input type="text" placeholder="0" name="reps">
              <span><i class="fa-regular fa-plus"></i></span>
              <span><i class="fa-solid fa-minus"></i></span>
            </div>
            <div class="adjust-sets">
              <p>1</p>
            </div>
            <div class="adjust-rest">
              <input type="text" placeholder="0" name="rest">
              <span><i class="fa-regular fa-plus"></i></span>
              <span><i class="fa-solid fa-minus"></i></span>
            </div>
            <div class="add-delete-clone">
              <span><i class="fa-regular fa-plus white"></i></span>
              <span><i class="fa-solid fa-clone white"></i></span>
              <span><i class="fa-solid fa-trash white"></i></span>
            </div>
          </form>
          <div class="exercise-save-btn">
            <input type="submit" class="save-btn" value="Save">
          </div>
        </div>
      </div>
    </div>
   </main>
   
  
  <script src="/scripts/chooseExercises.js"></script>
 </div>
</body>
</html>