<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/images/flavicon-04.png" type="tablogo">
  <title>Group training schedule</title>
  <link rel="stylesheet" href="/css/groupClassBooking.css" type="text/css">
</head>
<body onload="move()">
  <div class="modal-booking">
    <div class="modal-container">
      <div class="booking-modal-header">
        <h3>Book your spot for training via your HBG account</h3>
        <div class="close">
          <span class="eks">&#x2718;</span>
        </div>
      </div>
      <div class="main">
        <p>Input your information from HBG account to reserve<br> your spot for Yoga training with Milos Vujicic on date 01012024 from 6pm to 7pm!</p>
        <form>
          <div class="contact-info">
            <div class="email">
              <label for="email">Email:</label><br>
              <input type="email" id="email" placeholder="Email" required />
            </div>
            <div class="pin-number">
              <label for="number">PIN code:</label><br>
              <input type="text" id="number" placeholder="PIN code">
            </div>
          </div>
          <p>If you dont know your PIN code, check your email inbox or contact our gym</p>
          <input type="submit" class="book-modal-btn" value="Book">
        </form>
      </div>
    </div>
  </div>
  <div class="container">
    <header>
      <div class="logo">
        <img src="../images/heavy-bar-logo.png" alt="logo">
      </div>
      <div class="schedule-headline">
        <h2>Group training schedule</h2>
      </div>
      <div class="back-home-btn">
        <a class="backh-btn" href="/index.html">Go back</a>
      </div>
    </header>
    <table>
      <tr>
          <th><p class="dayWeek"></p><p class="date"></p></th>
          <th><p class="dayWeek"></p><p class="date"></p></th>
          <th><p class="dayWeek"></p><p class="date"></p></th>
          <th><p class="dayWeek"></p><p class="date"></p></th>
          <th><p class="dayWeek"></p><p class="date"></p></th>
          <th><p class="dayWeek"></p><p class="date"></p></th>
          <th><p class="dayWeek"></p><p class="date"></p></th>
      </tr>
        <tr class="row">
          <td class="red">
            <p>07:00h - 08:00h</p>
            <h3>Booty pump</h3>
            <p>Milos Vujicic</p>
            <p>Yoga room</p>
            <p>05 / 30</p>
            <div>
              <button>Book</button>
            </div>
          </td>
          <td class="blue">
            <p>07:00h - 08:00h</p>
            <h3>Core & more</h3>
            <p>Milos Vujicic</p>
            <p>Yoga room</p>
            <p>05 / 30</p>
            <div>
              <button>Book</button>
            </div>
          </td>
          <td class="yellow">
            <p>07:00h - 08:00h</p>
            <h3>Yoga</h3>
            <p>Milos Vujicic</p>
            <p>Yoga room</p>
            <p>05 / 30</p>
            <div>
              <button>Book</button>
            </div>
          </td>
          <td>
            <p>07:00h - 08:00h</p>
            <h3>Yoga</h3>
            <p>Milos Vujicic</p>
            <p>Yoga room</p>
            <p>05 / 30</p>
            <div>
              <button>Book</button>
            </div>
          </td>
          <td>
            <p>07:00h - 08:00h</p>
            <h3>Yoga</h3>
            <p>Milos Vujicic</p>
            <p>Yoga room</p>
            <p>05 / 30</p>
            <div>
              <button>Book</button>
            </div>
          </td>
          <td>
            <p>07:00h - 08:00h</p>
            <h3>Yoga</h3>
            <p>Milos Vujicic</p>
            <p>Yoga room</p>
            <p>05 / 30</p>
            <div>
              <button>Book</button>
            </div>
          </td>
          <td>
            <p>07:00h - 08:00h</p>
            <h3>Yoga</h3>
            <p>Milos Vujicic</p>
            <p>Yoga room</p>
            <p>05 / 30</p>
            <div>
              <button>Book</button>
            </div>
          </td>
        </tr>
        <tr class="row">
          <td>
            <p>07:00h - 08:00h</p>
            <h3>Yoga</h3>
            <p>Milos Vujicic</p>
            <p>Yoga room</p>
            <p>05 / 30</p>
            <div>
              <button>Book</button>
            </div>
          </td>
          <td>
            <p>07:00h - 08:00h</p>
            <h3>Yoga</h3>
            <p>Milos Vujicic</p>
            <p>Yoga room</p>
            <p>05 / 30</p>
            <div>
              <button>Book</button>
            </div>
          </td>
          <td>
            <p>07:00h - 08:00h</p>
            <h3>Yoga</h3>
            <p>Milos Vujicic</p>
            <p>Yoga room</p>
            <p>05 / 30</p>
            <div>
              <button>Book</button>
            </div>
          </td>
          <td>
            <p>07:00h - 08:00h</p>
            <h3>Yoga</h3>
            <p>Milos Vujicic</p>
            <p>Yoga room</p>
            <p>05 / 30</p>
            <div>
              <button>Book</button>
            </div>
          </td>
          <td>
            <p>07:00h - 08:00h</p>
            <h3>Yoga</h3>
            <p>Milos Vujicic</p>
            <p>Yoga room</p>
            <p>05 / 30</p>
            <div>
              <button>Book</button>
            </div>
          </td>
          <td>
            <p>07:00h - 08:00h</p>
            <h3>Yoga</h3>
            <p>Milos Vujicic</p>
            <p>Yoga room</p>
            <p>05 / 30</p>
            <div>
              <button>Book</button>
            </div>
          </td>
          <td>
            <p>07:00h - 08:00h</p>
            <h3>Yoga</h3>
            <p>Milos Vujicic</p>
            <p>Yoga room</p>
            <p>05 / 30</p>
            <div>
              <button>Book</button>
            </div>
          </td>
        </tr>
        <tr class="row">
          <td>
            <p>07:00h - 08:00h</p>
            <h3>Yoga</h3>
            <p>Milos Vujicic</p>
            <p>Yoga room</p>
            <p>05 / 30</p>
            <div>
              <button>Book</button>
            </div>
          </td>
          <td>
            <p>07:00h - 08:00h</p>
            <h3>Yoga</h3>
            <p>Milos Vujicic</p>
            <p>Yoga room</p>
            <p>05 / 30</p>
            <div>
              <button>Book</button>
            </div>
          </td>
          <td>
            <p>07:00h - 08:00h</p>
            <h3>Yoga</h3>
            <p>Milos Vujicic</p>
            <p>Yoga room</p>
            <p>05 / 30</p>
            <div>
              <button>Book</button>
            </div>
          </td>
          <td>
            <p>07:00h - 08:00h</p>
            <h3>Yoga</h3>
            <p>Milos Vujicic</p>
            <p>Yoga room</p>
            <p>05 / 30</p>
            <div>
              <button>Book</button>
            </div>
          </td>
          <td>
            <p>07:00h - 08:00h</p>
            <h3>Yoga</h3>
            <p>Milos Vujicic</p>
            <p>Yoga room</p>
            <p>05 / 30</p>
            <div>
              <button>Book</button>
            </div>
          </td>
          <td>
            <p>07:00h - 08:00h</p>
            <h3>Yoga</h3>
            <p>Milos Vujicic</p>
            <p>Yoga room</p>
            <p>05 / 30</p>
            <div>
              <button>Book</button>
            </div>
          </td>
          <td>
            <p>07:00h - 08:00h</p>
            <h3>Yoga</h3>
            <p>Milos Vujicic</p>
            <p>Yoga room</p>
            <p>05 / 30</p>
            <div>
              <button>Book</button>
            </div>
          </td>
        </tr>
        <tr class="row">
          <td>
            <p>07:00h - 08:00h</p>
            <h3>Yoga</h3>
            <p>Milos Vujicic</p>
            <p>Yoga room</p>
            <p>05 / 30</p>
            <div>
              <button>Book</button>
            </div>
          </td>
          <td>
            <p>07:00h - 08:00h</p>
            <h3>Yoga</h3>
            <p>Milos Vujicic</p>
            <p>Yoga room</p>
            <p>05 / 30</p>
            <div>
              <button>Book</button>
            </div>
          </td>
          <td>
            <p>07:00h - 08:00h</p>
            <h3>Yoga</h3>
            <p>Milos Vujicic</p>
            <p>Yoga room</p>
            <p>05 / 30</p>
            <div>
              <button>Book</button>
            </div>
          </td>
          <td>
            <p>07:00h - 08:00h</p>
            <h3>Yoga</h3>
            <p>Milos Vujicic</p>
            <p>Yoga room</p>
            <p>05 / 30</p>
            <div>
              <button>Book</button>
            </div>
          </td>
          <td>
            <p>07:00h - 08:00h</p>
            <h3>Yoga</h3>
            <p>Milos Vujicic</p>
            <p>Yoga room</p>
            <p>05 / 30</p>
            <div>
              <button>Book</button>
            </div>
          </td>
          <td>
            <p>07:00h - 08:00h</p>
            <h3>Yoga</h3>
            <p>Milos Vujicic</p>
            <p>Yoga room</p>
            <p>05 / 30</p>
            <div>
              <button>Book</button>
            </div>
          </td>
          <td>
            <p>07:00h - 08:00h</p>
            <h3>Yoga</h3>
            <p>Milos Vujicic</p>
            <p>Yoga room</p>
            <p>05 / 30</p>
            <div>
              <button>Book</button>
            </div>
          </td>
        </tr>
        <tr class="row">
          <td>
            <p>07:00h - 08:00h</p>
            <h3>Yoga</h3>
            <p>Milos Vujicic</p>
            <p>Yoga room</p>
            <p>05 / 30</p>
            <div>
              <button>Book</button>
            </div>
          </td>
          <td>
            <p>07:00h - 08:00h</p>
            <h3>Yoga</h3>
            <p>Milos Vujicic</p>
            <p>Yoga room</p>
            <p>05 / 30</p>
            <div>
              <button>Book</button>
            </div>
          </td>
          <td>
            <p>07:00h - 08:00h</p>
            <h3>Yoga</h3>
            <p>Milos Vujicic</p>
            <p>Yoga room</p>
            <p>05 / 30</p>
            <div>
              <button>Book</button>
            </div>
          </td>
          <td>
            <p>07:00h - 08:00h</p>
            <h3>Yoga</h3>
            <p>Milos Vujicic</p>
            <p>Yoga room</p>
            <p>05 / 30</p>
            <div>
              <button>Book</button>
            </div>
          </td>
          <td>
            <p>07:00h - 08:00h</p>
            <h3>Yoga</h3>
            <p>Milos Vujicic</p>
            <p>Yoga room</p>
            <p>05 / 30</p>
            <div>
              <button>Book</button>
            </div>
          </td>
          <td>
            <p>07:00h - 08:00h</p>
            <h3>Yoga</h3>
            <p>Milos Vujicic</p>
            <p>Yoga room</p>
            <p>05 / 30</p>
            <div>
              <button>Book</button>
            </div>
          </td>
          <td>
            <p>07:00h - 08:00h</p>
            <h3>Yoga</h3>
            <p>Milos Vujicic</p>
            <p>Yoga room</p>
            <p>05 / 30</p>
            <div>
              <button>Book</button>
            </div>
          </td>
        </tr>
    </table>
    <section>
      <div class="legend">
        <h4>Legend:</h4>
        <div class="legend-desc">
          <div class="advanced">
            <div class="redl"></div>
            <p>advanced</p>
          </div>
          <div class="intermediate">
            <div class="bluel"></div>
            <p>intermediate</p>
          </div>
          <div class="beginner">
            <div class="yellowl"></div>
            <p>beginner</p>
          </div>
        </div>
      </div>
      <div class="remove-booking">
        <p>If you want to cancel your booking for group class, please<br> enter your email address and pin code that you got from us! </p>
        <form>
          <div class="email">
            <label for="email">Email:</label><br>
            <input type="email" id="email" placeholder="Email" required />
          </div>
          <div class="pin-number">
            <label for="number">PIN code:</label><br>
            <input type="text" id="number" placeholder="PIN code">
          </div>
          <input type="submit" class="cancel-booking" value="Cancel">
        </form>
      </div>
    </section>
  </div>


  <script src="/scripts/groupClassBooking.js"></script>
</body>
</html>
