<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/login.css" type="text/css">
  <link rel="shortcut icon" href="/images/flavicon-04.png" type="tablogo">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
  <title>Login</title>
</head>
<body>
  <div class="container">
    <div class="logo">
      <img src="/images/heavy-bar-logo.png" alt="logo">
    </div>
    <div class="login-info">
      <h3>Log into your account</h3>
      <form action="">
        <div class="email-pin">
          <div class="email">
            <label for="email">Email:</label><br>
            <input type="email" id="email" placeholder="your@email.com" required />
          </div>
          <div class="pin-number">
            <label for="number">PIN code:</label><br>
            <input type="text" id="number" placeholder="your pin code">
          </div>
          <input type="submit" class="log-btn" value="Log in">
        </div>
      </form>
    </div>
  </div>
  <footer></footer>
</body>
</html>