* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* body {
  background-color: white;
  color: black;
  font-family: "Open Sans", sans-serif;
}
* body .container form div .trainingDays #muscle-select .trainingDay .muscle-select {
  display: flex;
}
* body .container form div .trainingDays #muscle-select .trainingDay .muscle-select .svg-container {
  max-width: 400px;
  margin-right: 2rem;
}
* body .container form div .trainingDays #muscle-select .trainingDay .muscle-select .svg-container svg {
  height: 70vh;
}
* body .container form div .trainingDays #muscle-select .trainingDay .muscle-select .svg-container svg .upper-chest:hover .cls-2,
* body .container form div .trainingDays #muscle-select .trainingDay .muscle-select .svg-container svg .middle-chest:hover .cls-2,
* body .container form div .trainingDays #muscle-select .trainingDay .muscle-select .svg-container svg .middle-deltoideus:hover .cls-2,
* body .container form div .trainingDays #muscle-select .trainingDay .muscle-select .svg-container svg .front-deltoideus:hover .cls-2,
* body .container form div .trainingDays #muscle-select .trainingDay .muscle-select .svg-container svg .biceps:hover .cls-2,
* body .container form div .trainingDays #muscle-select .trainingDay .muscle-select .svg-container svg .side-abs:hover .cls-2,
* body .container form div .trainingDays #muscle-select .trainingDay .muscle-select .svg-container svg .forearms:hover .cls-2,
* body .container form div .trainingDays #muscle-select .trainingDay .muscle-select .svg-container svg .adductors:hover .cls-2,
* body .container form div .trainingDays #muscle-select .trainingDay .muscle-select .svg-container svg .abductors:hover .cls-2,
* body .container form div .trainingDays #muscle-select .trainingDay .muscle-select .svg-container svg .quadriceps:hover .cls-2,
* body .container form div .trainingDays #muscle-select .trainingDay .muscle-select .svg-container svg .tibialis:hover .cls-2,
* body .container form div .trainingDays #muscle-select .trainingDay .muscle-select .svg-container svg .upper-trapezius:hover .cls-2,
* body .container form div .trainingDays #muscle-select .trainingDay .muscle-select .svg-container svg .upper-back:hover .cls-2,
* body .container form div .trainingDays #muscle-select .trainingDay .muscle-select .svg-container svg .rear-deltoideus:hover .cls-2,
* body .container form div .trainingDays #muscle-select .trainingDay .muscle-select .svg-container svg .triceps:hover .cls-2,
* body .container form div .trainingDays #muscle-select .trainingDay .muscle-select .svg-container svg .latissimus:hover .cls-2,
* body .container form div .trainingDays #muscle-select .trainingDay .muscle-select .svg-container svg .lower-back:hover .cls-2,
* body .container form div .trainingDays #muscle-select .trainingDay .muscle-select .svg-container svg .gluteus:hover .cls-2,
* body .container form div .trainingDays #muscle-select .trainingDay .muscle-select .svg-container svg .hamstrings:hover .cls-2,
* body .container form div .trainingDays #muscle-select .trainingDay .muscle-select .svg-container svg .calfs:hover .cls-2,
* body .container form div .trainingDays #muscle-select .trainingDay .muscle-select .svg-container svg .abdominals:hover .cls-2 {
  fill: red;
  cursor: pointer;
}/*# sourceMappingURL=addTrainingPlan.css.map */