* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: Open Sans;
  transition: all 0.6s ease;
}
* textarea:focus,
* input:focus {
  outline: none;
}
* h2 {
  font-size: 4rem;
  text-align: center;
  padding: 2% 0;
  background: none;
  color: red;
  font-family: permanent marker;
}
* .container .hours-wrapper {
  overflow: hidden;
}
* .container .hours-wrapper .hours {
  background-color: rgb(92, 0, 0);
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 10rem;
  justify-items: stretch;
  gap: 10rem;
}
* .container .hours-wrapper .hours p {
  font-weight: 600;
  color: black;
  animation: banner 10s linear infinite;
}
* .container header {
  padding: 0 2%;
  display: flex;
  align-items: center;
  height: 15vh;
  background-color: black;
  display: flex;
  align-items: center;
  position: relative;
}
* .container header .ham-menu {
  display: none;
  height: 45px;
  width: 45px;
  cursor: pointer;
  position: relative;
}
* .container header .ham-menu span {
  height: 5px;
  width: 100%;
  background-color: white;
  border-radius: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s ease;
}
* .container header .ham-menu span:first-child {
  top: 25%;
}
* .container header .ham-menu span:last-child {
  top: 75%;
}
* .container header .ham-menu.active span:first-child {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}
* .container header .ham-menu.active span:nth-child(2) {
  opacity: 0;
}
* .container header .ham-menu.active span:last-child {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}
* .container header .nav-links {
  display: none;
  position: absolute;
  top: 100%;
  border: 2px solid white;
  border-radius: 15px;
  padding: 0.5% 2% 0.5% 1%;
}
* .container header .nav-links ul li {
  list-style-type: none;
  padding: 5% 0;
}
* .container header .nav-links ul li a {
  text-decoration: none;
  color: white;
  border-bottom: 2px solid black;
}
* .container header .nav-links ul li a:hover {
  border-bottom: 2px solid rgb(92, 0, 0);
}
* .container header .active {
  display: block;
}
* .container header nav {
  margin-left: 2%;
  width: 40vw;
  height: 100%;
}
* .container header nav ul {
  display: flex;
  justify-content: space-between;
  height: 100%;
}
* .container header nav ul li {
  list-style-type: none;
}
* .container header nav ul li a {
  text-decoration: none;
  text-align: center;
  height: 100%;
  display: flex;
  align-items: center;
  border: 2px solid transparent;
  position: relative;
}
* .container header nav ul li a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.25rem;
  background: red;
  border-radius: 5px;
  transform: scaleX(0);
  transition: all 0.6s ease;
}
* .container header nav ul li a:hover::before {
  transform: scaleX(1);
}
* .container header .logo_and_login {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60vw;
  position: relative;
}
* .container header .logo_and_login .logo {
  display: flex;
  justify-content: center;
  height: 15vh;
  margin-top: 1%;
  margin-left: 5%;
}
* .container header .logo_and_login .logo img {
  height: 100%;
}
* .container header .logo_and_login .login {
  display: none;
  position: absolute;
  right: 2%;
  top: 80%;
}
* .container header .logo_and_login .login form {
  border: 2px solid white;
  border-radius: 15px;
  padding: 2%;
}
* .container header .logo_and_login .login form input {
  color: black;
  width: 100%;
}
* .container header .logo_and_login .login form .email_pin {
  display: flex;
  justify-content: space-around;
  gap: 1%;
  margin-bottom: 2%;
}
* .container header .logo_and_login .login form div {
  text-align: center;
}
* .container header .logo_and_login .login form div .login_btn_dd {
  color: white;
  cursor: pointer;
  background: transparent;
  border: 2px solid rgb(92, 0, 0);
  border-radius: 15px;
  font-size: 1rem;
  text-align: center;
  padding: 0;
  height: 2.5rem;
  width: 6rem;
  margin-top: 0.5rem;
}
* .container header .logo_and_login .login form div .login_btn_dd:hover {
  background-color: rgb(92, 0, 0);
  color: black;
  font-weight: bold;
}
* .container header .logo_and_login .login form div .login_btn_dd a {
  text-decoration: none;
}
* .container header .logo_and_login .login.active {
  display: block;
}
* .container header .logo_and_login .login_btn {
  border: 2px solid red;
  background: transparent;
  border-radius: 15px;
  font-size: 0.8rem;
  font-weight: 700;
  padding: 0.5rem 1.2rem;
  margin-right: 2rem;
  cursor: pointer;
}
* .container header .logo_and_login .login_btn:hover {
  color: black;
  background-color: red;
}
* .container main {
  height: 100vh;
  background-image: url(../images/main-pic.jpg);
  background-position: center;
  padding: 2%;
}
* .container main h1 {
  font-size: 6rem;
  font-family: permanent marker;
  color: red;
  margin-top: 8%;
}
* .container main p {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1%;
}
* .container #about-us {
  height: 50vh;
  padding: 0 15%;
}
* .container #about-us h2 {
  color: black;
}
* .container #about-us .about-us-icon-wrapper {
  display: flex;
  padding-top: 5%;
  justify-content: center;
  align-items: center;
}
* .container #about-us .about-us-icon-wrapper .wrapp {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
* .container #about-us .about-us-icon-wrapper .wrapp .icon img {
  height: 4rem;
}
* .container #about-us .about-us-icon-wrapper .wrapp .desc .scroll {
  text-align: center;
  font-weight: bold;
  color: hsla(0, 0%, 100%, 0.1);
  -webkit-background-clip: text;
          background-clip: text;
  background-repeat: no-repeat;
  background-size: 0% 100%;
  background-image: linear-gradient(black, black);
  animation: scroll linear forwards;
  animation-timeline: view(y);
  animation-range-start: cover 15vh;
  animation-range-end: cover 40vh;
}
* .container #memberships {
  padding-bottom: 10%;
  background-color: black;
}
* .container #memberships .memberships-head {
  margin-bottom: 4%;
}
* .container #memberships .memberships-head {
  margin-bottom: 4%;
}
* .container #memberships .memberships-prices {
  padding: 0 2%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
* .container #memberships .memberships-prices .card {
  border: 2px solid rgb(92, 0, 0);
  border-radius: 10px;
  position: relative;
  cursor: pointer;
}
* .container #memberships .memberships-prices .card:hover {
  border: 2px solid rgb(255, 0, 0);
  box-shadow: 2px 2px 10px rgb(92, 0, 0);
}
* .container #memberships .memberships-prices .card:hover .card-img img {
  filter: saturate(1.5);
}
* .container #memberships .memberships-prices .card:hover .card-desc h3 {
  color: red;
}
* .container #memberships .memberships-prices .card:hover .card-desc .price-details button, * .container #memberships .memberships-prices .card:hover span::before {
  background-color: red;
}
* .container #memberships .memberships-prices .card .card-img {
  width: 15vw;
}
* .container #memberships .memberships-prices .card .card-img img {
  width: 100%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  filter: grayscale(1);
}
* .container #memberships .memberships-prices .card .card-desc h3 {
  font-size: 2rem;
  color: rgb(92, 0, 0);
  text-align: center;
  margin-bottom: 10%;
  text-transform: uppercase;
}
* .container #memberships .memberships-prices .card .card-desc .price-details {
  padding: 10%;
  display: flex;
  justify-content: space-between;
}
* .container #memberships .memberships-prices .card .card-desc .price-details .price p:last-child {
  font-size: 1.5rem;
  text-shadow: 0 0 10px #fff;
}
* .container #memberships .memberships-prices .card .card-desc .price-details button {
  background-color: rgb(92, 0, 0);
  border: none;
  font-weight: 900;
  padding: 0 10%;
  border-radius: 20px;
  color: black;
  cursor: pointer;
  text-transform: uppercase;
}
* .container #memberships .memberships-prices .card span {
  position: absolute;
  overflow: hidden;
  width: 9rem;
  height: 9rem;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
* .container #memberships .memberships-prices .card span::before {
  content: "";
  position: absolute;
  width: 150%;
  height: 2.5rem;
  background-color: rgb(92, 0, 0);
  transform: rotate(-45deg) translateY(-1.4rem);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: 600;
  letter-spacing: 0.25em;
  text-transform: uppercase;
}
* .container #memberships .memberships-prices .card .gold::before {
  content: "GOLD";
}
* .container #memberships .memberships-prices .card .platinum::before {
  content: "PLATINUM";
}
* .container #memberships .memberships-prices .card .diamond::before {
  content: "DIAMOND";
}
* .container #trainings {
  padding-bottom: 5%;
  background: linear-gradient(360deg, hsl(0, 0%, 0%) 10%, hsl(0, 100%, 29%) 40%, hsl(0, 100%, 29%) 60%, hsl(0, 0%, 0%) 90%);
  position: relative;
}
* .container #trainings h2 {
  text-align: center;
  padding: 0;
}
* .container #trainings .training-p {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 3%;
}
* .container #trainings .trainings-wrapper {
  padding-top: 2%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 100px;
  align-items: center;
}
* .container #trainings .trainings-wrapper div {
  position: relative;
  cursor: pointer;
  height: 30vh;
}
* .container #trainings .trainings-wrapper div:hover {
  transform: scale(1.4);
}
* .container #trainings .trainings-wrapper div img {
  height: 30vh;
  border-radius: 10px;
}
* .container #trainings .trainings-wrapper div p {
  position: absolute;
  padding: 2%;
  left: 35%;
  bottom: 5%;
  background-color: black;
  text-transform: uppercase;
}
* .container #trainings .schedule-group-btn {
  display: flex;
  position: absolute;
  bottom: -5%;
  right: 18.5%;
}
* .container #trainings .schedule-group-btn .group-btn {
  border: 2px solid red;
  background-color: black;
  border-radius: 15px;
  font-size: 0.8rem;
  font-weight: 700;
  padding: 0.5rem 1.2rem;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}
* .container #trainings .schedule-group-btn .group-btn:hover {
  background-color: rgb(24, 24, 24);
}
* .container #get-in-touch {
  background-image: url(../images/get-in-touch.png);
  color: white;
  padding: 2.5%;
}
* .container #get-in-touch h2 {
  color: red;
}
* .container #get-in-touch h3 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2%;
}
* .container #get-in-touch .location .location-map {
  margin-top: 1%;
  width: 50vw;
  height: 60vh;
}
* .container #get-in-touch .contact-location {
  display: flex;
  gap: 2%;
}
* .container #get-in-touch .contact-location .contact {
  width: 50vw;
}
* .container #get-in-touch .contact-location .contact form label {
  font-size: 1.3rem;
  margin-top: 0.4rem;
}
* .container #get-in-touch .contact-location .contact form input {
  height: 2rem;
  padding: 1.5%;
  font-size: 1rem;
}
* .container #get-in-touch .contact-location .contact form input[type=text],
* .container #get-in-touch .contact-location .contact form input[type=email] {
  background: none;
  border: none;
}
* .container #get-in-touch .contact-location .contact form .fname,
* .container #get-in-touch .contact-location .contact form .lname,
* .container #get-in-touch .contact-location .contact form .email {
  display: flex;
  flex-direction: column;
  margin: 2% 0;
}
* .container #get-in-touch .contact-location .contact form textarea {
  width: 100%;
  padding: 1.5%;
  font-size: 1rem;
  color: black;
  font-weight: 600;
}
* .container #get-in-touch .contact-location .contact form .contact_btn {
  cursor: pointer;
  background: transparent;
  border: 2px solid white;
  border-radius: 15px;
  font-size: 1rem;
  text-align: center;
  padding: 0;
  height: 3rem;
  width: 6rem;
  margin-top: 1.5rem;
}
* .container #get-in-touch .contact-location .contact form .contact_btn:hover {
  background-color: rgb(92, 0, 0);
  border: 2px solid black;
  color: black;
  font-weight: 900;
}
* .container footer {
  background-color: rgb(92, 0, 0);
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2.5%;
}
* .container footer .copyright p {
  font-size: 0.8rem;
  font-weight: 600;
  color: black;
}
* .container footer .small-logo {
  display: flex;
  align-items: center;
}
* .container footer .small-logo img {
  height: 3vh;
}
* .container footer .social-net {
  display: flex;
  gap: 1rem;
}
* .container footer .social-net i {
  color: black;
  font-size: 1.5rem;
}
* .container .modal-purchasing {
  display: none;
  position: fixed;
  z-index: 1000;
  padding: 7rem;
  right: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: rgba(192, 192, 192, 0.534);
}
* .container .modal-purchasing .modal-container {
  background-color: #000000;
  margin: 0 auto;
  padding: 1rem;
  border: 2px solid red;
  width: 35%;
  position: relative;
}
* .container .modal-purchasing .modal-container .purchasing-modal-header {
  display: flex;
  justify-content: end;
  position: relative;
}
* .container .modal-purchasing .modal-container .purchasing-modal-header h3 {
  color: red;
  font-size: 2rem;
  margin-right: 8%;
}
* .container .modal-purchasing .modal-container .purchasing-modal-header .close {
  display: flex;
  align-items: center;
  position: absolute;
  right: -1%;
  top: -40%;
}
* .container .modal-purchasing .modal-container .purchasing-modal-header .close .eks {
  font-size: 1.5rem;
  cursor: pointer;
}
* .container .modal-purchasing .modal-container .buy-informations .new-member {
  display: flex;
  justify-content: center;
  text-align: center;
}
* .container .modal-purchasing .modal-container .buy-informations .new-member .info-policy .policy {
  display: flex;
}
* .container .modal-purchasing .modal-container .buy-informations .new-member .info-policy .policy div {
  margin: 0.5rem;
}
* .container .modal-purchasing .modal-container .buy-informations .new-member .info-policy .policy div details summary::marker {
  color: red;
}
* .container .modal-purchasing .modal-container .buy-informations .new-member .info-policy .policy div:last-child {
  text-align: left;
}
* .container .modal-purchasing .modal-container .buy-informations .new-member .info-policy .create-btn #create-profile-btn {
  border: 2px solid red;
  background: transparent;
  border-radius: 15px;
  font-size: 0.8rem;
  font-weight: 700;
  padding: 0.5rem 1.2rem;
  color: white;
  cursor: pointer;
}
* .container .modal-purchasing .modal-container .buy-informations .new-member .info-policy .create-btn #create-profile-btn:hover {
  color: black;
  background-color: red;
}
* .container .modal-purchasing .modal-container .credit-card .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
* .container .modal-purchasing .modal-container .credit-card .container h3 {
  color: red;
  font-size: 2rem;
}
* .container .modal-purchasing .modal-container .credit-card .container .card {
  display: flex;
  flex-direction: column;
  height: 40vh;
  width: 25vw;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(35px);
          backdrop-filter: blur(35px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  padding: 2%;
  overflow: hidden;
}
* .container .modal-purchasing .modal-container .credit-card .container .card .card-logos {
  display: flex;
  justify-content: space-between;
}
* .container .modal-purchasing .modal-container .credit-card .container .card .logo {
  height: 10vh;
  margin-bottom: 10%;
}
* .container .modal-purchasing .modal-container .credit-card .container .card form input {
  font-size: 1rem;
  border: none;
  background: 0;
  border-bottom: 2px solid red;
  color: white;
}
* .container .modal-purchasing .modal-container .credit-card .container .card form input::-moz-placeholder {
  color: #b5b5b5;
}
* .container .modal-purchasing .modal-container .credit-card .container .card form input::placeholder {
  color: #b5b5b5;
}
* .container .modal-purchasing .modal-container .credit-card .container .card form label {
  color: red;
  font-size: 0.8rem;
  font-weight: bolder;
  pointer-events: none;
  display: block;
  padding-bottom: 2%;
}
* .container .modal-purchasing .modal-container .credit-card .container .card form .card-number {
  font-size: 2rem;
  margin-bottom: 2%;
}
* .container .modal-purchasing .modal-container .credit-card .container .card form .container-inner {
  display: flex;
  gap: 10%;
  margin-top: 5%;
}
* .container .modal-purchasing .modal-container .credit-card .container .card form .container-inner .name {
  width: 10rem;
  display: inline-block;
  overflow: hidden;
}
* .container .modal-purchasing .modal-container .credit-card .container .card form .container-inner .name .card-name {
  color: white;
  font-size: 1rem;
  border-bottom: 2px solid red;
}
* .container .modal-purchasing .modal-container .credit-card .container .card form .container-inner .expiration-date {
  width: 20%;
  display: inline-block;
  overflow: hidden;
}
* .container .modal-purchasing .modal-container .credit-card .container .card form .container-inner .ccv {
  width: 10%;
  overflow: hidden;
}

@keyframes scroll {
  to {
    background-size: 100% 100%;
  }
}
@keyframes banner {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}
@media only screen and (max-width: 1440px) {
  * .container #trainings .trainings-wrapper div:hover {
    transform: scale(1);
  }
  * .container #trainings .schedule-group-btn {
    right: 10%;
  }
  * .container .modal-purchasing .modal-container {
    width: 40vw;
  }
  * .container .modal-purchasing .modal-container .credit-card .container .card {
    width: 90%;
  }
}
@media only screen and (max-width: 1024px) {
  * .container header nav {
    width: 35vw;
  }
  * .container header .logo_and_login .logo {
    height: 12.5vh;
  }
  * .container header .logo_and_login .login form .email_pin {
    flex-direction: column;
  }
  * .container main {
    height: 75vh;
  }
  * .container main h1 {
    margin-top: 15%;
    font-size: 4rem;
  }
  * .container main p {
    font-size: 2rem;
  }
  * .container #about-us {
    padding: 0 2%;
  }
  * .container #memberships .memberships-prices {
    justify-content: space-evenly;
    gap: 5vw;
  }
  * .container #memberships .memberships-prices .card {
    width: 25%;
  }
  * .container #memberships .memberships-prices .card .card-img {
    width: 100%;
  }
  * .container #memberships .memberships-prices .card .card-desc h3 {
    font-size: 1.5rem;
    margin: 0;
  }
  * .container #memberships .memberships-prices .card .card-desc .price-details {
    font-size: 1rem;
  }
  * .container #memberships .memberships-prices .card .card-desc .price-details .price p:last-child {
    font-size: 1.2rem;
  }
  * .container #trainings .trainings-wrapper {
    gap: 5vw;
  }
  * .container #trainings .trainings-wrapper div:hover {
    transform: scale(1.2);
  }
  * .container .modal-purchasing .modal-container h3 {
    text-align: center;
  }
  * .container .modal-purchasing .modal-container .purchasing-modal-header h3 {
    text-align: center;
    margin-right: 0;
  }
  * .container .modal-purchasing .modal-container .purchasing-modal-header .close {
    top: -20%;
  }
}
@media only screen and (max-width: 768px) {
  * .container header {
    justify-content: center;
  }
  * .container header .ham-menu {
    display: block;
    margin: 0 10%;
  }
  * .container header .nav-links {
    top: 80%;
    left: 10%;
    padding: 1% 4% 1% 2%;
  }
  * .container header nav {
    display: none;
  }
  * .container header .logo_and_login {
    justify-content: space-around;
    width: 75%;
  }
  * .container #trainings .trainings-wrapper div:hover {
    transform: scale(1);
  }
  * .container #trainings .schedule-group-btn {
    bottom: 5%;
    right: 30%;
  }
  * .container .modal-purchasing .modal-container {
    width: 80%;
  }
}
@media only screen and (max-width: 425px) {
  * .container header {
    padding: 0;
    justify-content: space-between;
  }
  * .container header .ham-menu {
    margin-left: 5%;
  }
  * .container header .nav-links {
    top: 100%;
    left: 2%;
    background-color: #000000;
    padding: 1% 8% 1% 2%;
  }
  * .container header .logo_and_login .logo {
    height: 10vh;
    margin-right: 5%;
  }
  * .container header .logo_and_login .login {
    border-radius: 15px;
    background-color: #000000;
    top: 105%;
  }
  * .container main {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  * .container #about-us {
    height: 80vh;
    padding: 0;
  }
  * .container #about-us .about-us-icon-wrapper {
    flex-wrap: wrap;
    gap: 50px;
  }
  * .container #memberships .memberships-head h2 {
    font-size: 3.5rem;
  }
  * .container #memberships .memberships-prices {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
  * .container #memberships .memberships-prices .card {
    width: 50vw;
  }
  * .container #trainings {
    height: 130vh;
  }
  * .container #get-in-touch {
    padding: 0;
  }
  * .container #get-in-touch .contact-location {
    flex-direction: column;
    align-items: center;
  }
  * .container #get-in-touch .contact-location .location .location-map {
    width: 80vw;
  }
  * .container #get-in-touch .contact-location .contact {
    width: 80vw;
  }
  * .container #get-in-touch .contact-location .contact .contact_btn {
    margin-left: 35%;
  }
  * .container .modal-purchasing {
    padding: 2%;
  }
  * .container .modal-purchasing .modal-container {
    width: 100%;
  }
}/*# sourceMappingURL=main.css.map */