*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
  color: white;
  font-family: Open Sans;
    
  header{
    display: flex;
    background-color: black;

    .logo{
      margin: .5rem 0 .5rem 1rem;

      img{
        height: 5vh;
      }
    }
  }

  .training{
    

    h2{
      text-align: center;
      font-size: 4rem;
      color: red;
    }
    .muscle-select-description{
      display: flex;
      justify-content: space-evenly;
      padding: 3rem 10rem;
      font-size: 1.5rem;
      .selected-muscle-btn{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .selected-muscles{
        margin-top: 2rem;
          p{
            margin-top: 1rem;
            border-bottom: 1px solid rgb(92, 0, 0);
            padding-bottom: .2rem;
            text-decoration-color: rgb(92, 0, 0);
          }
        }
        .smuscle-btn{
          border: 2px solid red;
          background: transparent;
          border-radius: 15px;
          font-size: .8rem;
          font-weight: 700;
          padding: .5rem 1.2rem;
          margin-right: 2rem;
          color: white;
          cursor: pointer;

          &:hover{
            color: black;
            background-color: red;
          }
        }
      }
      
      .muscle-description{
        div{
          border: 4px solid rgb(92, 0, 0);
          border-radius: 10px;
          height: 20vh;
          width: 30vw;
          padding: .5rem;
          
          
          &:first-child{
            margin-top: 2rem;
          }

          &:not(:last-child){
            margin-bottom: 1rem;
          }
        }
      }
    }
    
    svg{
      height: 70vh;

      
      &:not(:last-child){
        margin-right: 2rem;
      }
    }
    
    .upper-chest:hover .cls-2,
    .middle-chest:hover .cls-2,
    .middle-deltoideus:hover .cls-2,
    .front-deltoideus:hover .cls-2,
    .biceps:hover .cls-2,
    .side-abs:hover .cls-2,
    .forearms:hover .cls-2,
    .adductors:hover .cls-2,
    .sartorius:hover .cls-2,
    .abductors:hover .cls-2,
    .pectineus:hover .cls-2,
    .quadriceps:hover .cls-2,
    .tibialis:hover .cls-2,
    .upper-trapezius:hover .cls-2,
    .lower-trapezius:hover .cls-2,
    .rhomboids-major:hover .cls-2,
    .rear-deltoideus:hover .cls-2,
    .teres-major:hover .cls-2,
    .triceps:hover .cls-2,
    .latissimus:hover .cls-2,
    .lower-back:hover .cls-2,
    .gluteus:hover .cls-2,
    .hamstrings:hover .cls-2,
    .calfs:hover .cls-2,
    .abdominals:hover .cls-2{
      // fill: rgb(92, 0, 0);
      fill: red;
      cursor: pointer;
    }
  }
}