* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
  color: white;
  font-family: Open Sans;
  transition: all 0.6s ease;
}
* h2 {
  font-family: permanent marker;
}
* header {
  display: flex;
  background-color: black;
}
* header .logo {
  margin: 0.5rem 0 0.5rem 1rem;
}
* header .logo img {
  height: 5vh;
}
* header nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 40%;
}
* header nav #training_btn {
  border: 2px solid red;
  background: transparent;
  border-radius: 15px;
  font-size: 0.8rem;
  font-weight: 700;
  padding: 0.5rem 1.2rem;
  margin-right: 2rem;
  color: white;
  cursor: pointer;
  text-decoration: none;
}
* header nav #training_btn:hover {
  color: black;
  background-color: red;
}
* .profile {
  display: block;
}
* .profile h2 {
  text-align: center;
  font-size: 4rem;
  color: red;
}
* .profile .wrapper {
  padding: 3rem 10rem 0 10rem;
  font-size: 120%;
}
* .profile .wrapper form {
  display: grid;
  grid-template-areas: "bi bi ad ad" "mi exp exp pb" "- - - btns";
  grid-template-columns: 35vw 15vw 20vw;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1rem;
}
* .profile .wrapper form label {
  font-size: 1.2rem;
}
* .profile .wrapper form input {
  font-size: 1.2rem;
  border: none;
  outline: none;
  border-bottom: 1px solid rgb(92, 0, 0);
}
* .profile .wrapper form .basic_informations {
  grid-area: bi;
  display: flex;
}
* .profile .wrapper form .basic_informations .profile_pic {
  width: 15%;
  height: 50%;
  border-radius: 50%;
  position: relative;
  justify-content: center;
  align-items: center;
}
* .profile .wrapper form .basic_informations .profile_pic img {
  width: auto;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
* .profile .wrapper form .basic_informations .profile_pic #photo {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
* .profile .wrapper form .basic_informations .profile_pic #file {
  border: 1px solid red;
  display: none;
}
* .profile .wrapper form .basic_informations .profile_pic #upload_pic {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25%;
  width: 25%;
  padding: 0.4rem;
  border-radius: 50%;
  cursor: pointer;
  color: #fff;
  bottom: 10%;
  right: -5%;
  background-color: rgba(185, 185, 185, 0.5);
}
* .profile .wrapper form .basic_informations .profile_pic #upload_pic i {
  background-color: transparent;
  color: #5c0000;
}
* .profile .wrapper form .basic_informations .personal_info {
  margin-left: 4%;
  padding: 1%;
  border-radius: 10px;
  border: 2px solid rgb(92, 0, 0);
}
* .profile .wrapper form .basic_informations .personal_info div {
  display: flex;
  margin: 1rem 0;
}
* .profile .wrapper form .basic_informations .personal_info div div {
  width: 20vw;
}
* .profile .wrapper form .basic_informations .personal_info div div label {
  margin-right: 1%;
}
* .profile .wrapper form .basic_informations .personal_info div div select, * .profile .wrapper form .basic_informations .personal_info div div option {
  border: 2px solid rgb(92, 0, 0);
}
* .profile .wrapper form .additional_info {
  grid-area: ad;
  display: flex;
  flex-direction: column;
  padding: 2%;
  border-radius: 10px;
  border: 2px solid rgb(92, 0, 0);
}
* .profile .wrapper form .additional_info div {
  display: flex;
  margin: 1rem 2rem 1rem 0;
}
* .profile .wrapper form .additional_info div label {
  margin-right: 1rem;
}
* .profile .wrapper form .measurements {
  grid-area: mi;
  padding: 2rem 1rem 1rem 4rem;
  border-radius: 10px;
  border: 2px solid rgb(92, 0, 0);
}
* .profile .wrapper form .measurements div {
  display: flex;
  margin-bottom: 2%;
  width: 100%;
}
* .profile .wrapper form .measurements div label {
  margin-right: 1rem;
}
* .profile .wrapper form .measurements div input {
  width: 2.2rem;
}
* .profile .wrapper form .experience {
  grid-area: exp;
  display: flex;
  justify-content: center;
  padding: 2%;
  border-radius: 10px;
  border: 2px solid rgb(92, 0, 0);
}
* .profile .wrapper form .experience div {
  margin-top: 1rem;
}
* .profile .wrapper form .experience div label {
  margin-right: 2rem;
}
* .profile .wrapper form .experience div input[type=radio] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 1vw;
  height: 2vh;
  border: 1px solid #999;
  border-radius: 50%;
  border: 2px solid rgb(92, 0, 0);
  transition: box-shadow 0.3s ease;
}
* .profile .wrapper form .experience div input[type=radio]:hover {
  cursor: pointer;
}
* .profile .wrapper form .experience div input[type=radio]:before {
  content: "";
  display: block;
  width: 50%;
  height: 50%;
  margin: 22% auto;
  border-radius: 50%;
}
* .profile .wrapper form .experience div input[type=radio]:checked:before {
  background-color: rgb(92, 0, 0);
}
* .profile .wrapper form .records {
  margin-right: 0;
  grid-area: pb;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: 10px;
  border: 2px solid rgb(92, 0, 0);
}
* .profile .wrapper form .btns {
  grid-area: btns;
  display: flex;
  justify-content: center;
  align-items: start;
  margin-top: 1rem;
}
* .profile .wrapper form .btns .btn {
  cursor: pointer;
  background: transparent;
  border: 2px solid white;
  border-radius: 15px;
  font-size: 70%;
  text-align: center;
  padding: 0;
  height: 5vh;
  width: 6vw;
}
* .profile .wrapper form .btns .btn:first-child {
  margin-right: 5%;
}
* .profile .wrapper form .btns .btn:hover {
  background-color: rgb(92, 0, 0);
  border: none;
  color: black;
  font-weight: 900;
}/*# sourceMappingURL=profile.css.map */