* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
  color: white;
  font-family: Open Sans;
  transition: all 0.6s ease;
}
* h2 {
  font-family: permanent marker;
}
* header {
  display: flex;
  background-color: black;
}
* header .logo {
  margin: 0.5rem 0 0.5rem 1rem;
}
* header .logo img {
  height: 5vh;
}
* header nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 40%;
}
* header nav #training_btn {
  border: 2px solid red;
  background: transparent;
  border-radius: 15px;
  font-size: 0.8rem;
  font-weight: 700;
  padding: 0.5rem 1.2rem;
  margin-right: 2rem;
  color: white;
  cursor: pointer;
  text-decoration: none;
}
* header nav #training_btn:hover {
  color: black;
  background-color: red;
}
* .training-container h2 {
  text-align: center;
  font-size: 4rem;
  color: red;
}
* .training-container .training {
  padding: 2rem;
}
* .training-container .training .one {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4rem;
}
* .training-container .training .one .upper {
  display: grid;
  place-items: center;
  text-transform: uppercase;
  padding: 2rem;
  border: 2px solid red;
  border-radius: 15px;
  font-size: 2rem;
  margin-bottom: -3.5rem;
  z-index: 1;
}
* .training-container .training .one .lower {
  border: 2px solid white;
  border-radius: 15px;
  padding: 4rem 2rem 2rem 2rem;
  display: flex;
  flex-wrap: wrap;
}
* .training-container .training .one .lower .exercise-card {
  border: 2px solid rgb(92, 0, 0);
  border-radius: 15px;
  padding: 0.2rem;
  margin: 0.5rem 1.2rem;
  cursor: pointer;
}
* .training-container .training .one .lower .exercise-card:hover {
  transform: scale(1.1);
}
* .training-container .training .one .lower .exercise-card .exercise-thumb {
  border-radius: 10px;
}
* .training-container .training .one .lower .exercise-card .exercise-thumb img {
  height: 20vh;
  border-radius: 10px;
}
* .training-container .training .one .lower .exercise-card h4 {
  text-align: center;
  text-transform: uppercase;
  border-bottom: 2px solid rgb(92, 0, 0);
  padding: 0.5rem 0;
}
* .training-container .training .one .lower .exercise-card .exercise-details {
  display: flex;
  justify-content: center;
  padding: 0.5rem;
}
* .training-container .training .one .lower .exercise-card .exercise-details div:nth-child(2) {
  padding: 0 0.5rem;
  margin: 0 0.5rem;
  border-inline: solid rgb(92, 0, 0);
}
* .training-container .training .one .lower .exercise-card .exercise-details div p {
  text-align: center;
  text-transform: uppercase;
}
* .training-container .training .one .lower .exercise-card .exercise-details div p:last-child {
  padding-top: 0.5rem;
}
* .show {
  display: block;
}
* .modal-exercise-back {
  display: none;
  position: fixed;
  z-index: 1000;
  padding: 7rem;
  right: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: rgba(192, 192, 192, 0.534);
}
* .modal-exercise-back .modal-exercise {
  background-color: #000000;
  padding: 1rem 2rem;
  border: 2px solid red;
  border-radius: 10px;
  position: relative;
}
* .modal-exercise-back .modal-exercise .modal-header h3 {
  text-align: center;
  color: red;
  font-size: 2rem;
}
* .modal-exercise-back .modal-exercise .modal-header .video-instruction {
  margin: 1rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
* .modal-exercise-back .modal-exercise .modal-header .video-instruction .video img {
  height: 12rem;
  cursor: pointer;
}
* .modal-exercise-back .modal-exercise .modal-header .video-instruction .instruction form textarea {
  color: white;
  border: 2px solid rgb(92, 0, 0);
  border-radius: 5px;
  width: 30vw;
  height: 12rem;
  padding: 0.5rem;
  font-size: 1rem;
  outline: none;
}
* .modal-exercise-back .modal-exercise .modal-header .video-instruction .instruction form textarea::-moz-placeholder {
  color: black;
}
* .modal-exercise-back .modal-exercise .modal-header .video-instruction .instruction form textarea::placeholder {
  color: black;
}
* .modal-exercise-back .modal-exercise .wrapper_adjust .rows-container {
  display: flex;
  flex-direction: column;
}
* .modal-exercise-back .modal-exercise .wrapper_adjust .rows-container .exercise-row {
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(92, 0, 0);
  padding: 1rem;
}
* .modal-exercise-back .modal-exercise .wrapper_adjust .rows-container .exercise-row:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
* .modal-exercise-back .modal-exercise .wrapper_adjust .rows-container .exercise-row .header-row,
* .modal-exercise-back .modal-exercise .wrapper_adjust .rows-container .exercise-row .input-row {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  place-items: center;
}
* .modal-exercise-back .modal-exercise .wrapper_adjust .rows-container .exercise-row .header-row .add-row,
* .modal-exercise-back .modal-exercise .wrapper_adjust .rows-container .exercise-row .input-row .add-row {
  cursor: pointer;
  background: transparent;
  border: none;
  font-size: 1rem;
  text-align: center;
  padding: 0;
  height: 3rem;
  width: 7rem;
}
* .modal-exercise-back .modal-exercise .wrapper_adjust .rows-container .exercise-row .header-row .add-row:hover,
* .modal-exercise-back .modal-exercise .wrapper_adjust .rows-container .exercise-row .input-row .add-row:hover {
  background-color: rgb(92, 0, 0);
  border-radius: 15px;
  color: black;
  font-weight: 900;
}
* .modal-exercise-back .modal-exercise .wrapper_adjust .rows-container .exercise-row .exercise-field {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
* .modal-exercise-back .modal-exercise .wrapper_adjust .rows-container .exercise-row .exercise-field .counter {
  display: flex;
  padding-left: 3rem;
  align-items: center;
  justify-content: center;
  position: relative;
}
* .modal-exercise-back .modal-exercise .wrapper_adjust .rows-container .exercise-row .exercise-field .counter input {
  width: 4rem;
  text-align: center;
  background: transparent;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
  outline: none;
}
* .modal-exercise-back .modal-exercise .wrapper_adjust .rows-container .exercise-row .exercise-field .counter input::-webkit-outer-spin-button, * .modal-exercise-back .modal-exercise .wrapper_adjust .rows-container .exercise-row .exercise-field .counter input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
* .modal-exercise-back .modal-exercise .wrapper_adjust .rows-container .exercise-row .exercise-field .counter button {
  font-size: 2rem;
  background: transparent;
  border: none;
  padding: 0.2rem;
  cursor: pointer;
  color: rgb(92, 0, 0);
}
* .modal-exercise-back .modal-exercise .wrapper_adjust .rows-container .exercise-row .exercise-field .counter button:hover {
  color: red;
}
* .modal-exercise-back .modal-exercise .wrapper_adjust .rows-container .exercise-row .row-actions {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
}
* .modal-exercise-back .modal-exercise .wrapper_adjust .rows-container .exercise-row .row-actions span i {
  color: rgb(92, 0, 0);
  font-size: 1.2rem;
  cursor: pointer;
}
* .modal-exercise-back .modal-exercise .wrapper_adjust .rows-container .exercise-row .row-actions span i:hover {
  color: red;
}
* .modal-exercise-back .modal-exercise .wrapper_adjust .rows-container .exercise-row .header-row span {
  font-weight: bold;
}
* .modal-exercise-back .modal-exercise .wrapper_adjust .save {
  border: 2px solid red;
  background: transparent;
  border-radius: 15px;
  font-size: 0.8rem;
  font-weight: 700;
  padding: 0.5rem 1.2rem;
  margin-top: 1rem;
  color: white;
  cursor: pointer;
}
* .modal-exercise-back .modal-exercise .wrapper_adjust .save:hover {
  color: black;
  background-color: red;
}/*# sourceMappingURL=training.css.map */